/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-weight: 500;
   line-height: 100%;
   font-size: 16px;
   background-color: black;
   font-family: 'Montserrat', sans-serif;
   line-height: 170%;
   color: #c4bda9
}

h1,
h2,
h3 {
   font-size: 0;
   font-weight: 0;
}

input,
button,
textarea {
   font-family: inherit;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

/*--------------------*/
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
   max-width: 1046px;
   margin: 0 auto;
   box-sizing: content-box;
   padding: 0px 15px;
}
a:hover {
   color: rgb(143, 107, 9); ;
}
._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/*--------------------*/
/*-----Header---------*/

.header__container {
   position: relative;
}

.header__body {
   position: relative;
   z-index: 3;
}

.header__text {
   padding: 130px 0px;
}

.header__text h1 {
   font-size: 44px;
   font-weight: 700;
   color: #ded8ca;
   line-height: 170%;
}

.header__text h2 {
   font-size: 24px;
   font-weight: 600;
   padding: 30px 0px 0px 0px;
   color: #ded8ca;
}

.header__photo {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   width: 350px;
}

@media (max-width: 762px) {
   .header__photo {
      opacity: 0.6;
   }
}

.header__photo img {
   position: absolute;
   vertical-align: top;
   height: 100%;
   right: 0;
   top: 0;
   border-radius: 9px;
}

@media (max-width: 992px) {
   .header__photo img {}
}

.navigaiton__menu {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.nav-item:not(:last-child) {
   margin: 0px 40px 0px 0px;
}

@media (max-width: 767px) {
   .nav-item {
      flex: 0 1 100%;
   }

   .nav-item:not(:last-child) {
      margin: 0px 0px 15px 0px;
   }
}

.nav-link {
   color: inherit;
   line-height: 171%;
   font-weight: 600;
}

/*-----Main---------*/
.main {
   flex: 1 1 auto;
}

.main__body {
   display: flex;
   flex-wrap: wrap;
   margin: 100px 0px 100px 0px;
}

@media (max-width: 767px) {
   .main__body {
      margin: 30px 0px 100px 0px;
   }
}

.main-block {
   flex: 0 1 50%;
   margin: 85px 0px 0px 0px;
}

@media (max-width: 767px) {
   .main-block {
      flex: 0 1 100%;
      margin: 45px 0px 0px 0px;
   }
}

.main-block h3 {
   font-size: 24px;
   position: relative;
   color: #ded8ca;
   margin: 0px 0px 20px 0px;
}

.main-block h3::before {
   content: "";
   position: absolute;
   background: #c4bda9;
   left: 0;
   top: -14px;
   width: 50%;
   height: 2px;
}

.main-menu__item {
   display: flex;
}

.main-menu__item:not(:last-child) {
   margin: 0px 0px 15px 0px;
}

.main-menu__img {
   background-position: center left;
   background-repeat: no-repeat;
   background-size: cover;
   width: 20px;
   height: 20px;
   margin-right: 20px;
}

.main-menu__link {
   color: inherit;
}

.contact-img__adress {
   background-image: url(images/contactcs/map.svg)
}

.contact-img__email {
   background-image: url(images/contactcs/email.svg)
}

.contact-img__github {
   background-image: url(images/contactcs/github.svg)
}

.contact-img__telegram {
   background-image: url(images/contactcs/telegram.svg)
}

.contact-img__discord {
   background-image: url(images/contactcs/discord-icon-svgrepo-com.svg)
}

.menu-marker {
   background-image: url(images/skills/галочка.svg);
}
/*-------Footer-------*/
.footer-columns {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}

.footer-column {
   flex: 0 1 25%;
}

@media (max-width: 767px) {

   .footer-column {
      flex: 0 1 100%;
   }

   .footer-column:not(:last-child) {
      margin: 0px 0px 20px 0px;
   }
}

.footer__link img {
   width: 100px;
   height: 50px;
}

.footer__text {
   font-size: 12px;
}
